In [ ]:
import pandas as pd
import random
data= pd.read_csv("DV_Data.csv")
data.total_cases = data.total_cases.astype(int)
data.head()

In [ ]:
data2=data.groupby(['city','year'])['total_cases'].sum()
data2=pd.DataFrame(data2.reset_index(level=[0,1]))
data2


from bokeh.io import show, output_file
from bokeh.models import ColumnDataSource
from bokeh.palettes import Spectral6
from bokeh.transform import factor_cmap
from bokeh.plotting import figure
x = df["city"]
y=df["total_cases"]
output_file("cities.html")  
source = ColumnDataSource(data=dict(x=x, y=y))
f = figure(x_range=x, plot_height=450, toolbar_location=None, title="Dengue Fever Cases for each City")
f.vbar(x='x', top='y', width=0.5, legend="x", source=source,
       line_color='white', fill_color=factor_cmap('x', palette=Spectral6, factors=x))


new_legend = f.legend[0]
f.legend[0].plot = None
f.add_layout(new_legend, 'right')
show(f)

In [ ]:


from bokeh.models import ColumnDataSource
from bokeh.plotting import figure, output_file, show, output_notebook
from bokeh.models.widgets import Select
from bokeh.io import curdoc
from bokeh.layouts import column, row
import pandas as pd

cities = list(data2['city'].unique())
years = list(data2['year'].unique())
data_2001=list(data2[data2.year==2001].total_cases)
data_2002=list(data2[data2.year==2002].total_cases)
data_2003=list(data2[data2.year==2003].total_cases)
data_2004=list(data2[data2.year==2004].total_cases)
data_2005=list(data2[data2.year==2005].total_cases)
data_2006=list(data2[data2.year==2006].total_cases)
data_2007=list(data2[data2.year==2007].total_cases)
data_2008=list(data2[data2.year==2008].total_cases)

d1 = {'cities' : cities,
        'y'   : data_2001
       }
d2 = {'cities' : cities,
        'y'   : data_2002
       }

d3= {'cities' : cities,
        'y'   : data_2003
       }
d4= {'cities' : cities,
        'y'   : data_2004
       }
d5 = {'cities' : cities,
        'y'   : data_2005
       }
d6 = {'cities' : cities,
        'y'   : data_2006
       }

d7= {'cities' : cities,
        'y'   : data_2007
       }
d8= {'cities' : cities,
        'y'   : data_2008
       }
source = ColumnDataSource(d1)

p = figure(x_range=cities, y_range=(0, 5000),plot_width=800, plot_height=450, title="Total Dengue cases recorded each year in a city",
           toolbar_location=None, tools="")
p.line(x='cities', y='y',source = source,color="red")
select = Select(title="Year",  options=['2001', '2002','2003','2004','2005','2006','2007','2008'])

def update_plot(attrname, old, new):
    if select.value == '2001':
        newSource = d1  # changed this to the dict
    if select.value == '2002':
        newSource = d2  # changed this to the dict
    if select.value == '2003':
        newSource = d3  # changed this to the dict
    if select.value == '2004':
        newSource = d4  # changed this to the dict 
    if select.value == '2005':
        newSource = d5  # changed this to the dict
    if select.value == '2006':
        newSource = d6  # changed this to the dict
    if select.value == '2007':
        newSource = d7  # changed this to the dict
    if select.value == '2008':
        newSource = d8  # changed this to the dict     
    source.data =  newSource 


select.on_change('value', update_plot)
layout = column(row(select, width=400), p)
curdoc().add_root(layout)

In [4]:
data2

          city  year  total_cases
0    Fairfield  2002         3962
1    Fairfield  2003         4028
2    Fairfield  2004         3836
3     Hartford  2002          704
4     Hartford  2003          114
5     Hartford  2004          638
6   Litchfield  2002         3234
7   Litchfield  2003         3570
8   Litchfield  2004         3428
9    Middlesex  2002         1858
10   Middlesex  2003         3253
11   Middlesex  2004         3256
12   New_Haven  2003         2251
13   New_Haven  2004         2775
14  New_London  2002          452
15  New_London  2003          949
16  New_London  2004          610
17     Tolland  2002         3141
18     Tolland  2003         3773
19     Tolland  2004         3618
20     Windham  2002         3430
21     Windham  2003         2269
22     Windham  2004         2809

In [1]:
import pandas as pd
import random
df= pd.read_csv("DV_Data.csv")
df.total_cases = df.total_cases.astype(int)
data2=df.groupby(['city','year'])['total_cases'].sum()
data2=pd.DataFrame(data2.reset_index(level=[0,1]))

from bokeh.core.properties import value
from bokeh.layouts import column, row, widgetbox
from bokeh.io import show, output_file
from bokeh.models import ColumnDataSource
from bokeh.plotting import figure
from bokeh.transform import dodge
from bokeh.models.widgets import Panel, Tabs,Slider
from bokeh.models import CustomJS

output_file("dodge_bars.html")

cities = list(data2['city'].unique())
years = list(data2['year'].unique())

data_2002=list(data2[data2.year==2002].total_cases)
data_2003=list(data2[data2.year==2003].total_cases)
data_2004=list(data2[data2.year==2004].total_cases)

data = {'cities' : cities,
        '2002'   : data_2002,
        '2003'   : data_2003,
        '2004'   : data_2004,
       }
source = ColumnDataSource(data=data)

p = figure(x_range=cities, y_range=(0, 5000),plot_width=1200, plot_height=450, title="Total Dengue cases recorded each year",
           toolbar_location=None, tools="")

p.vbar(x=dodge('cities',  -0.3,  range=p.x_range), top='2002', width=0.1, source=source,
       color="#404387", legend=value("2002"))

p.vbar(x=dodge('cities',  -0.2, range=p.x_range), top='2003', width=0.1, source=source,
       color="#FDE724", legend=value("2003"))

p.vbar(x=dodge('cities', -0.1, range=p.x_range), top='2004', width=0.1, source=source,
       color="#35B778", legend=value("2004"))


p.legend.location = "top_center"
p.legend.orientation = "horizontal"
p.yaxis.axis_label = "Total Dengue Cases Recorded"
p.xaxis.axis_label = "Cities"
show(p)

In [ ]:
data.head()

In [ ]:
#data3=data.groupby(['city','year'])['precip_amt','humidity','avg_temp'].sum()
data3=data.groupby(['city'])['precip_amt','humidity','avg_temp'].sum()
data3=pd.DataFrame(data3.reset_index(level=[0]))
data3

In [ ]:
from bokeh.models import ColumnDataSource
from bokeh.plotting import figure, output_file, show, output_notebook
from bokeh.models.widgets import Select
from bokeh.io import curdoc
from bokeh.layouts import column, row
import pandas as pd

cities = list(data3['city'].unique())
#years = list(data3['year'].unique())
precip_amt=list(data3['precip_amt'])
humidity=list(data3['humidity'])
avg_temp=list(data3['avg_temp'])
d1 = {'cities' : cities,
        'y'   : precip_amt
       }
d2 = {'cities' : cities,
        'y'   : humidity
       }
d3= {'cities' : cities,
        'y'   : avg_temp
       }

source = ColumnDataSource(d1)

p = figure(x_range=cities, y_range=(0, 15000),plot_width=800, plot_height=450, title="Total Dengue cases recorded each year in a city",
           toolbar_location=None, tools="")
p.line(x='cities', y='y',source = source,color="red")
select = Select(title="Year",  options=['precip_amt', 'humidity','avg_temp'])

def update_plot(attrname, old, new):
    if select.value == 'precip_amt':
        newSource = d1  # changed this to the dict
    if select.value == 'humidity':
        newSource = d2  # changed this to the dict
    if select.value == 'avg_temp':
        newSource = d3  # changed this to the dict     
    source.data =  newSource 


select.on_change('value', update_plot)
layout = column(row(select, width=400), p)
curdoc().add_root(layout)

In [ ]:
data.head()

In [11]:
import pandas as pd
import numpy as np
import random
from bokeh.models import ColumnDataSource, HoverTool, PanTool, ResetTool
from bokeh.plotting import figure, output_file, show, output_notebook
from bokeh.models import Range1d

data= pd.read_csv("DV_Data.csv")
data.total_cases = data.total_cases.astype(int)
data.weekofyear = data.weekofyear.astype('category')

def yearly_pattern(city, year):
    weekofyear = list((data[((data.year==year) & (data.city==city))].weekofyear))
    data1=data[((data.year==year) & (data.city==city))].total_cases
    N=len(data1)
    x = np.random.random(size=N) * 100
    y = np.random.random(size=N) * 100
    colors = [
    "#%02x%02x%02x" % (int(r), int(g), 150) for r, g in zip(50+2*x, 30+2*y)
    ]
    f=figure(width=1000,height=450)
    f.title.text = 'Total dengue cases recored each week of the Year'
    f.xaxis.axis_label = 'Week of the Year'
    f.yaxis.axis_label = "Total cases"

    f.vbar(x=weekofyear,top=data1,width=0.5, fill_color=colors,fill_alpha=0.6)
    hover = HoverTool( tooltips=[("Week of year",'@x'), ("total cases","@top")] )
    f.add_tools(hover) 
    show(f)
yearly_pattern('New_London', 2002)

In [8]:
import pandas as pd
import random
data= pd.read_csv("DV_Data.csv")
data.total_cases = data.total_cases.astype(int)

from bokeh.models import ColumnDataSource,HoverTool
from bokeh.plotting import figure, output_file, show, output_notebook
from bokeh.models.widgets import Select,Panel,Tabs
from bokeh.io import curdoc
from bokeh.layouts import column, row
from bokeh.layouts import layout
from bokeh.io import curdoc
import pandas as pd

city1=list((data[((data.year==2002) & (data.city=="New_London"))].weekofyear))
total_cases1=list((data[((data.year==2002) & (data.city=="New_London"))].total_cases))

city2=list((data[((data.year==2002) & (data.city=="Middlesex"))].weekofyear))
total_cases2=list((data[((data.year==2002) & (data.city=="Middlesex"))].total_cases))

city3=list((data[((data.year==2002) & (data.city=="Fairfield"))].weekofyear))
total_cases3=list((data[((data.year==2002) & (data.city=="Fairfield"))].total_cases))

city4=list((data[((data.year==2002) & (data.city=="Hartford"))].weekofyear))
total_cases4=list((data[((data.year==2002) & (data.city=="Hartford"))].total_cases))

city5=list((data[((data.year==2002) & (data.city=="Litchfield"))].weekofyear))
total_cases5=list((data[((data.year==2002) & (data.city=="Litchfield"))].total_cases))

city6=list((data[((data.year==2002) & (data.city=="Tolland"))].weekofyear))
total_cases6=list((data[((data.year==2002) & (data.city=="Tolland"))].total_cases))

city7=list((data[((data.year==2002) & (data.city=="Windham"))].weekofyear))
total_cases7=list((data[((data.year==2002) & (data.city=="Windham"))].total_cases))

city8=list((data[((data.year==2002) & (data.city=="New_Haven"))].weekofyear))
total_cases8=list((data[((data.year==2002) & (data.city=="New_Haven"))].total_cases))



p = figure(plot_width=1000, plot_height=800, title="Total Dengue cases recorded in 2002 for the given climate values",
           toolbar_location=None, tools="")
p.line(x=city1, y=total_cases1,color="red")
p.line(x=city2, y=total_cases2,color="blue")
p.line(x=city3, y=total_cases3,color="green")
p.line(x=city4, y=total_cases4,color="orange")
p.line(x=city5, y=total_cases5,color="yellow")
p.line(x=city6, y=total_cases6,color="purple")
p.line(x=city7, y=total_cases7,color="cyan")
p.line(x=city8, y=total_cases8,color="black")

show(p)

In [ ]:
data.city.unique()